.bttEnviar{
    width: 120px;
    height: 30px;
    background-color: rgb(118, 187, 248);
    border: none;
    outline: none;
    border-radius: 2px;
    margin: 2px;
    color: #fff;
}

.bttEnviar:hover{
    background-color: rgb(99, 159, 211);
    cursor: pointer;
}