.bttPrimary{
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgb(94, 172, 240);
    font-size: 20px;
    margin: 1px;
}

.bttPrimary:hover{
    background-color: rgb(82, 150, 209);
    cursor: pointer;
}