.containerLabel1{
    width: 500px;
    height: 500px;
    background-color: rgb(143, 143, 248);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colorOption{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50px;
    cursor: pointer;
}

.colorOption1{
    background: rgb(249,115,0);
    background: linear-gradient(90deg, rgba(249,115,0,1) 40%, rgba(14,48,71,1) 60%);
}

.colorOption2{
    background: rgb(128,248,164);
    background: linear-gradient(90deg, rgba(128,248,164,1) 40%, rgba(143,143,248,1) 60%);
}

.colorOption3{
    background: rgb(18,64,118);
    background: linear-gradient(90deg, rgba(18,64,118,1) 40%, rgba(127,159,128,1) 60%);
}

.divColorOptions{
    margin-top: 20px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.colorOption1Container1{
    background-color: rgb(249,115,0);
}
.colorOption2Container1{
    background-color: rgba(128,248,164,1);
}
.colorOption3Container1{
    background-color: rgba(18,64,118,1);
}