*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
  background-color: antiquewhite;
}

.inputName{
  border: none;
  outline: none;
  border-bottom: 1px solid;
  padding: 2px;
  margin: 2px;
  font-size: 16px;
  background-color: transparent;
}

.dvColor{
  width: 150px;
  height: 150px;
  background-color: aquamarine;
  border: 1px solid;
  cursor: pointer;
  margin: 10px;
}

.dvColorBlue{
  background-color: blue;
}
